@import "../../css/variables.scss";

.contact_container{
    h1{
        font-family: $font-primary;
        padding:60px;
    }
    .email-button{
        width:200px;
        padding:30px 0px;
        background-color: #F13F79;
        border-radius: 5px;
        box-shadow:2px 6px 2px rgba(134, 115, 115, 0.3);
        color: #ffffff;
        display: block;
        font-size: 28px;
        text-align: center;
        text-decoration: none;
        margin: 10px auto;
        padding: 10px 0;
        font-family: $font-primary;
        &:hover {
        box-shadow: 0 1px 0 rgb(240, 193, 193);
        margin: 12px auto 8px;
        color:white;
        text-decoration: none;
        }
    }
      
    p{
        width:400px;
        // なんで、これ、左に寄っちゃうんだろう？？センターになるはずでは？？挙動がわからない。。。
        // とりあえずセンターに寄せておこう、、笑
        margin:0 auto;
        // なぜtrxt-alignじゃ中央寄せにならないのに、margin:0 autO;だとなるのか？なぜ？？？
    }
    .social_icons{
        display:flex;
        justify-content:center;
        padding:30px 0 30px 0;
        .social_icon_item{
            margin-left:9px;
        &:hover{
            cursor: pointer;
            animation-name: jello;
            animation-duration: 1s;
            // animation
            @keyframes jello {
                from,
                11%,
                to {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
            
                22% {
                    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
                    transform: skewX(-12.5deg) skewY(-12.5deg);
                }
            
                33% {
                    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
                    transform: skewX(6.25deg) skewY(6.25deg);
                }
            
                44% {
                    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
                    transform: skewX(-3.125deg) skewY(-3.125deg);
                }
            
                55% {
                    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
                    transform: skewX(1.5625deg) skewY(1.5625deg);
                }
            
                66% {
                    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
                    transform: skewX(-0.78125deg) skewY(-0.78125deg);
                }
            
                77% {
                    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
                    transform: skewX(0.390625deg) skewY(0.390625deg);
                }
            
                88% {
                    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
                    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
                }
            }
  
        }
        img{
            width:40px;
        }
        }
    }
}

 