.contact_container{
    p{
        width:300px;
        // なんで、これ、左に寄っちゃうんだろう？？センターになるはずでは？？挙動がわからない。。。
        // とりあえずセンターに寄せておこう、、笑
        margin:0 auto;
        // なぜtrxt-alignじゃ中央寄せにならないのに、margin:0 autO;だとなるのか？なぜ？？？
    }
    .social_icons{
        display:flex;
        justify-content:center;
    }
}