.navigation_container {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation_container .navigation_wrapper {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation_container .navigation_wrapper .navigation_items {
  white-space: nowrap;
}

.navigation_container .navigation_wrapper .navigation_items div {
  display: inline-block;
  margin: 10px;
}

.navigation_container .navigation_wrapper .navigation_items div a {
  color: white;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}

.navigation_container .navigation_wrapper .navigation_items div a:after {
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 2px;
}

.navigation_container .navigation_wrapper .navigation_items div a:hover:after {
  width: 100%;
}

.navigation_container .navigation_wrapper .navigation_logo_main .brand_logo {
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 105px;
  margin-bottom: -15px;
}

@media only screen and (max-width: 1024px) {
  .navigation_container .navigation_wrapper .navigation_logo_main .brand_logo {
    height: 65px;
    margin-bottom: -5px;
  }
}

.navigation_on_scroll_wrapper {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  height: 60px;
  width: 100vw;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_on_scroll_wrapper.hidden {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.navigation_on_scroll_wrapper .navigation_items {
  white-space: nowrap;
  margin-right: 20px;
}

.navigation_on_scroll_wrapper .navigation_items div {
  display: inline-block;
  margin: 10px;
}

.navigation_on_scroll_wrapper .navigation_items div a {
  color: white;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}

.navigation_on_scroll_wrapper .navigation_items div a:after {
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 2px;
}

.navigation_on_scroll_wrapper .navigation_items div a:hover:after {
  width: 100%;
}

.navigation_on_scroll_wrapper .brand_logo {
  height: 50px;
}

.navigation_container_mobile {
  position: absolute;
  height: 250px;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navigation_container_mobile .brand_logo {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
/*# sourceMappingURL=Navigation.css.map */