@import "../css/variables.scss";

  body {
    font-size: 18px;
    font-family:$font-secondary;
  }
  
  p{
    font-weight: 250;
  }

  h1{
    // font-family: $font-primary;
  }

  body,
section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0;
}
