@import "../css/variables.scss";

// * {
//     margin: 0;
//     // なんでここでpading:0ってやってんのに、各component padding 生じちゃってるんだろう？？
//     padding: 0;
//     // text-align:center;
//   }
  body {
    // font-size: 18px;
    font-family:$font-secondary;
  }
  
  // code {
  //   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  //     monospace;
  // }
  p{
    // font-size:1.3rem;
    // text-align: start;
    font-weight: 250;
  }

  body,
section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0;
}
