@import "../css/variables.scss";

* {
    margin: 0;
    // なんでここでpading:0ってやってんのに、各component padding 生じちゃってるんだろう？？
    padding: 0;
    text-align:center;
  }
  
  body {
    margin: 0;
    font-size: 18px;
    font-weight:100;
    font-family:$font-secondary;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
