.footer_container{
    height:120px;
    background: linear-gradient(25deg, #F13F79, #FFC778);
    position:relative;
    img{
        width:100%;
        height:25%;
        position:absolute;
        // transform: translateX(-50%);
        top:0%;
    }
    .licence{
        position:absolute;
        top:50px;
        left: 90%;
        color:white;
        width:150px;
        h5{
            // なんで中央にならないんだろう？？ちょっと右にずれる。なぜ？
            // transform:translate(-50%)は全く見当違いだった。
        }
        p{
            font-size:10px;
            a{
                margin:0;
            }
        }
    }
}