@import "../../css/variables.scss";

#about_container{
    max-width:100%;
    margin:100px 0 100px 0;
    h1{
        font-family: $font-primary;
    }
    .section_title{
        font-size:50px;
    }
    span{
        font-weight:600;
    }
    img{
       
    }
    .top_part{
        display:flex;
        justify-content: center;
        img{
            // padding-top:50px;
            max-width:600px;
            height:600px;
        }
        .my_story{
            width:600px;
            padding-top:50px;
            margin-bottom:30px;
        }
        .my_education{
            width:600px;
            p{
                padding-bottom:20px;
            }
        }
    }
        .skill_icon_area{
            display:flex;
            // flex-wrap:wrap;
            justify-content: center;
            height:100px;
            // width:600px;
            // margin:  0 auto;  
            .skill_icon_item{
             width:90px;
             img{
                 padding-top:20px;
             }
             p{
                //  これwidthを親要素と同じ大きさにしないと、上手くtext-alignが効かないし、
                // widthをそもそも設定しないと、なぜか右に大幅にずれて、画面外にはみ出す。
                 width:90px;
                 text-align:center;
                 font-size:16px;
             }
            }}}